<h1>Cliente</h1>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="row">
    <div class="col-md-9">
        <label for="nome">Nome</label>
        <input id="nome" type="text" class="form-control" [(ngModel)]="cliente.nome" name="clienteNome" required #clienteNome="ngModel">
        <div class="alert alert-danger" *ngIf="clienteNome.touched && !clienteNome.valid">Por favor digite o nome do cliente.</div>
    </div>
    <p>Pessoa Jurídica?</p>
    <div class="col-md-3" >
      <div>
        <label for="tipo" class="radio-inline">
            <input type="radio" name="tipo" id="fisico" [value]="true" [(ngModel)]="cliente.tipo"> Sim
        </label>
      </div>
      <div>
        <label for="tipo" class="radio-inline">
            <input type="radio" name="tipo" id="juridico" [value]="false" [(ngModel)]="cliente.tipo"> Não
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <label for="numeroDocumento">CPF/CNPJ</label>
        <input id="numeroDocumento" type="text" class="form-control" [(ngModel)]="cliente.numeroDocumento" name="numeroDocumento" required #numeroDocumento="ngModel">
        <div class="alert alert-danger" *ngIf="numeroDocumento.touched && !numeroDocumento.valid">Por favor digite o CPF/CNPJ.</div>
    </div>
    <div class="col-md-8" *ngIf="cliente.tipo" >
        <label for="razaoSocial">Razão Social</label>
        <input id="razaoSocial" type="text" class="form-control" [(ngModel)]="cliente.razaoSocial" name="razaoSocial" required #razaoSocial="ngModel">
        <div class="alert alert-danger" *ngIf="razaoSocial.touched && !razaoSocial.valid">Por favor digite a razão social.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="text" class="form-control" [(ngModel)]="cliente.telefone" name="telefone" required #telefone="ngModel">
        <div class="alert alert-danger" *ngIf="telefone.touched && !telefone.valid">Por favor digite o CPF/CNPJ.</div>
    </div>
    <div class="col-md-8">
        <label for="contato">Contato</label>
        <input id="contato" type="text" class="form-control" [(ngModel)]="cliente.contato" name="contato" required #contato="ngModel">
        <div class="alert alert-danger" *ngIf="contato.touched && !contato.valid">Por favor digite a razão social.</div>
    </div>
  </div>
  <div class="row" style = 'margin-top: 15px'>
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">Endereço</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9">
                <label for="logradouro">Logradouro</label>
                <input id="logradouro" type="text" class="form-control" [(ngModel)]="cliente.logradouro" name="logradouro" required #logradouro="ngModel">
                <div class="alert alert-danger" *ngIf="logradouro.touched && !logradouro.valid">Por favor digite a razão social.</div>
            </div>
            <div class="col-md-3">
              <label for="contato">Número</label>
              <input id="contato" type="text" class="form-control" [(ngModel)]="cliente.contato" name="contato" required #contato="ngModel">
              <div class="alert alert-danger" *ngIf="contato.touched && !contato.valid">Por favor digite a razão social.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <label for="complemento">Complemento</label>
                <input id="complemento" type="text" class="form-control" [(ngModel)]="cliente.complemento" name="complemento" required #complemento="ngModel">
                <div class="alert alert-danger" *ngIf="complemento.touched && !complemento.valid">Por favor digite a razão social.</div>
            </div>
            <div class="col-md-3">
              <label for="cep">CEP</label>
              <input id="cep" type="text" class="form-control" [(ngModel)]="cliente.cep" name="cep" required #cep="ngModel">
              <div class="alert alert-danger" *ngIf="cep.touched && !cep.valid">Por favor digite a razão social.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                  <label for="pais">País</label>
                  <input id="pais" type="text" class="form-control" [(ngModel)]="cliente.pais" name="pais" required #pais="ngModel">
                  <div class="alert alert-danger" *ngIf="pais.touched && !pais.valid">Por favor digite a razão social.</div>              
            </div>
            <div class="col-md-6">
                <label for="estado">Estado</label>
                <input id="estado" type="text" class="form-control" [(ngModel)]="cliente.estado" name="estado" required #estado="ngModel">
                <div class="alert alert-danger" *ngIf="estado.touched && !estado.valid">Por favor digite a razão social.</div>
            </div>           
          </div>
          <div class="row">            
              <div class="col-md-12">
                  <label for="cidade">Cidade</label>
                  <input id="cidade" type="text" class="form-control" [(ngModel)]="cliente.cidade" name="cidade" required #cidade="ngModel">
                  <div class="alert alert-danger" *ngIf="cidade.touched && !cidade.valid">Por favor digite a razão social.</div>
              </div> 
          </div>       
        </div>
      </div> 
    </div>
  </div>
  <div>
    <button class="btn btn-primary">Salvar</button>
  </div>
</form>