<h1>Produtos</h1>
<p style="margin-top: 10px">
  <a [routerLink]="['/produtos/new']" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Novo Produto</a>    
  <a [routerLink]="['/vencidos']" class="btn btn-primary"> Produtos Vencidos</a> 
</p>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div>
          {{ c.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td>{{ p.nome }}</td>
      <td>{{ p.codigo }}</td>
      <td>{{ p.quantEstoque }}</td>
      <td>
        <a [routerLink]="['/produtos/', p.id]">Detalhes</a>
      </td>
    </tr>
  </tbody>
  <p><strong>Valor Total Perdido: </strong>{{totProdutos.valor | currency:'BRL':true}}</p>
  <p><strong>Valor Total Perdido: </strong>{{mediaProdutos.valor | currency:'BRL':true}}</p>
</table>